.card-custom{
    text-align:center;
    align-items:center;
    justify-content:center;
   background:rgba(0,0,0,.55);
   color:white;
   border-radius:20px;
    width:100%;
}
.form-custom{
   background:rgba(0,0,0,.55);  
    border-radius:4px;
}
.container-custom{
    width:50%;
    margin:auto;
     background:url("https://pixabay.com/get/57e6d6464b5ab114f6df807bcf2a3078083edbec5758714e71267c.jpg");
    border-radius:20px;  
   background-repeat:no-repeat;
  background-size:cover;
  box-shadow:2px 2px 9px black;
}
.form-custom .form-control{
   
}
